      * {
  margin: 0;
  padding: 0;
}

body {
  background: url("../Imgs/art100.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

.back {
  background: url("./Imgs/art2.png") no-repeat;
}

.titletag {
  font-family: coiny;
}

.quote {
  position: relative;
  transform: translate(0%, 375%);
  font-family: "Segoe UI";
  font-size: 30px;
  text-align: center;
  width: 100%;
}

em {
  font-family: Pacifico;
}

.hide {
  display: hidden;
}

.container {
  transform: translate(0%, 100%);
  position: relative;
  align-content: center;
  width: 80%;
}
.animate {
  display: flex;
}

.header {
  font-family: coiny;
  align-content: center;
  color: whitesmoke;
  font-size: 30px;
  margin: 40px 0px 0px 100px;
  border-radius: 4px;
  width: 70px;
  height: 45px;
  text-align: center;
  animation-name: logo;
  animation-duration: 1.5s;
}

@keyframes logo {
  from {
    font-size: 0px;
  }

  to {
    font-size: 30px;
  }
}

.fa-superpowers {
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  align-content: center;
  color: whitesmoke;
  font-size: 30px;
  position: relative;
  margin: 40px 0px 0px 0px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.header2 {
  text-align: center;
  font-family: coiny;
  font-size: 65px;
  color: whitesmoke;
}

.hidehead {
  display: hidden;
}

ul li {
  width: 180px;
  height: 70px;
  padding-top: 15px;
  text-align: center;
  display: inline-block;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 25px;
  margin-left: 20px;
  color: white;
  list-style: none;
  font-family: coiny;
  position: relative;
  transform: translate(100%, 150%);
  cursor: pointer;
  transition-duration: 0.2s;
  animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
  from {
    transform: translate(150%, 150%);
  }

  65% {
    transform: translate(150%, 115px);
  }

  to {
    transform: translate(150%, 150%);
  }
}

.list {
  border: 2px solid black;
  padding-top: 15px;
  width: 180px;
  height: 70px;
  color: black;
  font-family: pacifico;
  transition-duration: 0.25s;
  font-size: 25px;
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(500%, 150%);
  }

  65% {
    transform: translate(500%, 115px);
  }

  to {
    transform: translate(500%, 150%);
  }
}

.list:hover {
  background-color: black;
  color: white;
  text-decoration: none;
  box-shadow: 0 8px 10px 0 black;
}

.list1:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: 0 8px 10px 0 black;
}

.card1 {
  height: 350px;
  width: 250px;
  border: 1px solid gray;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.842);
  background-color: white;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.card1:hover {
  box-shadow: 0 0 0 0;
}

.maincontainer {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 55px;
  grid-row-gap: 50px;
  transform: translate(14%, 115%);
  position: relative;
}

.foot {
  background-color: rgba(0, 0, 0, 0.89);
  transform: translate(0%, 250%);
  height: 400px;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.para {
  text-align: center;
  font-family: "Nova Flat";
}

.projectName {
  font-family: "coiny";
  font-size: 25px;
  margin-top: 10px;
}

button {
  margin-top: 25px;
}

.icons {
  font-size: 25px;
  transform: translate(0%, 600%);
  text-align: center;
}

.contactinfo {
  color: white;
  font-size: 15px;
  text-align: center;
  position: relative;
  transform: translate(0%, 200%);
}

#heart {
  color: red;
}

.fa-github {
  font-size: 30px;
  margin-top: 1%;
  cursor: pointer;
}

.fa-behance {
  font-size: 30px;
  margin-top: 1%;
  margin-left: 2%;
  cursor: pointer;
}

/*responsive*/
@media only screen and (min-width: 360px) and (max-width: 1080px) {
  body {
    background-size: contain;
  }

  .header2 {
    font-size: 20px;
    margin-top: 15%;
    color: black;
  }

  .hide {
    width: 100%;
    font-size: 20px;
  }

  .buttoncontrol {
    display: none;
  }

  .maincontainer {
    display: flex;
    flex-flow: wrap column;
  }

  .containerbig {
    margin-left: -20%;
    margin-top: 5%;
  }

  .card1 {
    width: 50%;
  }

  .list1 {
    margin-left: -50%;
    border: 2px solid black;
    color: black;
  }
  .list1:hover {
    background: black;
    color: white;
  }
  #hide2:hover {
    background: black;
    color: white;
  }

  #hide2 {
    color: black;
    margin-left: -225%;
    position: relative;
    display: flex;
    flex-flow: wrap column;
    margin-top: 15%;
    border: 2px solid black;
    text-decoration: none;
  }

  .header {
    font-size: 40px;
    transform: translate(-60%, -5%);
    animation-name: logo;
    animation-duration: 1.5s;
  }

  @keyframes logo {
    from {
      font-size: 0px;
    }

    to {
      font-size: 40px;
    }
  }
}
